/* montserrat-alternates-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Belissimo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Belissimo-script.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
html {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.hero {
  position: relative;
  background-color: #0C2C65;
  height: 550px;
  padding-top: 150px;
}
.hero::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 165px;
  top: 0;
  left: 0;
  background-image: url("../../img/ribbon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.hero::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 461px;
  background-image: url("../../img/scissors.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  left: 50%;
  transform: translate(-50%);
  top: calc(0% + 220px);
}
.hero__header {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.hero__header::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100px;
  height: 257px;
  background-image: url("../../img/right.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  right: 0;
  top: calc(0% - 100px);
}
.hero__header::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 112px;
  height: 390px;
  background-image: url("../../img/star-main-left.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: calc(0% + 75px);
}
.hero__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
}
.hero__subheader {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
}
.hero__dec {
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 49.48%, #7E691C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about {
  position: relative;
  background: url("../../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.about__body {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.about__container {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__container::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 79px;
  height: 222px;
  background-image: url("../../img/star-little-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
  top: calc(0% + 345px);
}
.about__header {
  text-align: center;
  font-family: "Belissimo";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 2.4%, #7D6615 5.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  margin-bottom: 25px;
}
.about__ribbon-img {
  width: 100%;
  margin-top: 20px;
}

.calendar {
  position: relative;
  background: url("../../img/ring.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.calendar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.calendar__container {
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.calendar__container::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 54px;
  height: 222px;
  background-image: url("../../img/star-little-right.png");
  background-repeat: no-repeat;
  right: 0;
  top: calc(50% + 85px);
}
.calendar__date {
  text-align: center;
  font-family: Georgia;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.5px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 47.4%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calendar__img {
  width: 100%;
}
.calendar__item {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
}
.calendar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.calendar__month-week {
  text-align: center;
  font-family: Belissimo;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calendar__month-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.calendar__month-year {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
}
.calendar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 23px;
}/*# sourceMappingURL=main.css.map */