/* montserrat-alternates-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Belissimo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Belissimo-script.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v26-latin-600.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
html {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  margin: 50% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  font-family: Montserrat;
  width: 50%;
  text-align: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  background-color: #0c2c65;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f6f6f6;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: 400;
}

.menu-open {
  left: 0;
}

.menu-button {
  cursor: pointer;
}

.menu-icon {
  color: #5f5f5f;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Overlay background color and opacity */
  display: none;
  z-index: 99;
}

.menu-open + .menu-overlay {
  display: block;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  /* Adjust the right position */
}

.navbar__logo {
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(248, 248, 248, 0.145);
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  color: #fff;
  z-index: 100;
  padding: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.navbar__btn {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  top: calc(50% + 150px);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 70px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.hero {
  position: relative;
  background-color: #0C2C65;
  height: 550px;
  padding-top: 150px;
}
.hero::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 165px;
  top: 0;
  left: 0;
  background-image: url("../../img/ribbon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.hero::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 461px;
  background-image: url("../../img/scissors.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  left: 50%;
  transform: translate(-50%);
  top: calc(0% + 220px);
}
.hero__header {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}
.hero__header::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100px;
  height: 257px;
  background-image: url("../../img/right.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  right: 0;
  top: calc(0% - 100px);
}
.hero__header::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 112px;
  height: 390px;
  background-image: url("../../img/star-main-left.png");
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  top: calc(0% + 140px);
}
.hero__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
}
.hero__subheader {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
}
.hero__dec {
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 49.48%, #7E691C 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about {
  position: relative;
  background: url("../../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.about__body {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 350px;
  width: 100%;
}
.about__container {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__container::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 79px;
  height: 222px;
  background-image: url("../../img/star-little-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
  top: calc(0% + 345px);
}
.about__header {
  text-align: center;
  font-family: Belissimo;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}
.about__ribbon-img {
  width: 100%;
  margin-top: 20px;
}

.calendar {
  position: relative;
  background: url("../../img/ring.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}
.calendar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.calendar::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 94px;
  height: 222px;
  background-image: url("../../img/123.png");
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  z-index: 100;
  top: calc(50% + 160px);
}
.calendar__container {
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.calendar__date {
  text-align: center;
  font-family: Georgia;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.5px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 47.4%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calendar__img {
  width: 100%;
}
.calendar__item {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.18px;
}
.calendar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.calendar__month-week {
  text-align: center;
  font-family: Belissimo;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calendar__month-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.calendar__month-year {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
}
.calendar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 23px;
}

.map {
  position: relative;
  background: url("../../img/map-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 100px;
}
.map::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 69px;
  height: 236px;
  background-image: url("../../img/map-star.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
  left: 0;
  top: 50%;
}
.map::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.878);
}
.map__btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
  margin-top: 15px;
}
.map__container {
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map__header {
  text-align: center;
  font-family: Belissimo;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.map__iframe {
  width: 100%;
  height: 205px;
}
.map__subheader {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  margin-bottom: 20px;
}

.program {
  position: relative;
  background: url("../../img/program-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}
.program::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.program::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 108px;
  height: 246px;
  background-image: url("../../img/list.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: 0;
  z-index: 1;
  top: calc(50% + 130px);
}
.program__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  max-width: 200px;
}
.program__container {
  z-index: 1;
  position: relative;
}
.program__container::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 500px;
  top: calc(0% - 180px);
  left: 0;
  background-image: url("../../img/program-dec.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.program__header {
  text-align: center;
  font-family: Belissimo;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.05px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  padding-top: 80px;
}
.program__hour {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}
.program__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  padding-top: 100px;
}
.program__item:nth-child(2n-1) {
  margin-right: 200px;
}
.program__item:nth-child(2n) {
  margin-left: 200px;
}
.program__item::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E6C653;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: calc(0% + 50px);
  z-index: 111;
  left: calc(50% + 91px);
}
.program__item:nth-child(2)::before {
  left: calc(50% - 109px);
}
.program__item::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 70px;
  height: 70px;
  background-image: url("../../img/photo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: calc(0% + 18px);
}
.program__item:nth-child(2)::after {
  background-image: url("../../img/Gift.svg");
}
.program__item:nth-child(3)::after {
  background-image: url("../../img/Vector.svg");
}
.program__list {
  position: relative;
}
.program__list::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 3px;
  height: 390px;
  border-radius: 1px;
  background-color: #fff;
  left: 50%;
  top: calc(0% + 55px);
}

.time {
  position: relative;
  background: url("../../img/time-bg.png");
  background-repeat: no-repeat;
  background-position: calc(0% - 100px);
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}
.time::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(12, 44, 101, 0.88);
}
.time::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 98px;
  height: 257px;
  background-image: url("../../img/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1;
  left: 0;
  top: calc(50% - 85px);
}
.time__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
.time__container {
  z-index: 1;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time__header {
  text-align: center;
  font-family: Belissimo;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 135.135% */
  letter-spacing: 0.37px;
  background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 52.08%, #7D6615 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}
.time__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 140px;
}
.time__subheader {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 70px;
}
.time__hr {
  max-width: 250px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  margin-top: 40px;
}
.time__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.time__time {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-bottom: 2px;
}
.time__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
}
.time__social-link {
  position: relative;
}
.time__social-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}/*# sourceMappingURL=main.css.map */