.calendar {
  position: relative;
  background: url('../../img/ring.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(12, 44, 101, 0.88);
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 94px;
    height: 222px;
    background-image: url('../../img/123.png');
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    z-index: 100;
    top: calc(50% + 160px);
  }

  &__container {
    z-index: 1;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__date {
    text-align: center;
    font-family: Georgia;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 47.4%, #7D6615 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__img {
    width: 100%;
  }

  &__item {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.18px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__month-week {
    text-align: center;
    font-family: Belissimo;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;
    background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__month-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__month-year {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.18px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 23px;
  }
}