.container {}

.hero {
  position: relative;
  background-color: #0C2C65;
  height: 100vh;
  padding-top: 180px;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    top: calc(0% - 455px);
    left: 0;
    background-image: url('../../img/ribbon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &__header {
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
  }

  &__body {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 600;
    line-height: normal;
  }

  &__container {}

  &__subheader {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
  }

  &__dec {
    background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 49.48%, #7E691C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}