.program {
  position: relative;
  background: url('../../img/program-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 70px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(12, 44, 101, 0.88);
  }

  &__body {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    max-width: 200px;
  }

  &__container {
    z-index: 1;
    position: relative;
  }

  &__header {
    text-align: center;
    font-family: Belissimo;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 100% */
    letter-spacing: 1.05px;
    background: linear-gradient(180deg, #FFCF26 0%, #D9BE5F 43.75%, #7D6615 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }

  &__hour {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    padding-top: 70px;


    &::before {
      position: absolute;
      display: inline-block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 30px;
      height: 22px;
      background-image: url('../../img/photo.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      top: calc(0% + 13px)
    }

    &:nth-child(2)::after {
      height: 30px;
      background-image: url('../../img/Gift.svg');
      top: calc(0% + 8px)
    }

    &:nth-child(3)::after {
      width: 37px;
      height: 24px;
      background-image: url('../../img/Vector.svg');
    }

  }

  &__list {}
}